<h1>Search properties by price</h1>
<form method="get" action="/Properties/DoSearch" class="col-md-6">
    <div>
        Min price: <input name="minPrice" class="form-control"/>
    </div>
    <div>
        Max price: <input name="maxPrice" class="form-control"/>
    </div>
    <input type="submit" class="btn btn-success" value="Search" />
</form>